.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseOne') Why yet another online learning platform?
  #collapseOne.panel-collapse.collapse.in
    .panel-body
      p.answer
        | We have a different scope than sites like Codecademy, CodeSchool or Treehouse (to name a few). We are not competing with these sites but complement their offerings.
        br
        br
        | We curate learning resources that are freely available on the net and offer guidance on what to learn when. We have opinions about what technologies are the moving parts of tomorrow&apos;s Internet and encourage our students to look at them first and then leave the path to go on adventures on their own or in small groups.
        br
        br
        | Instead of having a closed learning environment, we integrate with sites like GitHub and Stack Overflow and use real tools to better prepare our students for real projects.
        br
        br
        | From the beginning, we accompany the training of technical skills with the human side of coding. This includes the history of programming and presenting the authors behind the tools we use. Most importantly, the platform pairs students with similar skill levels and gives them assignments to collaborate on. It then moderates a peer review process to give them feedback by real humans rather than algorithms.
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseTwo') So, you use tutorials made by others?
  #collapseTwo.panel-collapse.collapse.in
    .panel-body
      p.answer
        | Yes. Plus free text books, screencasts and podcasts. We also encourage those students who can afford it to create Gittip and Flattr accounts to support authors of materials they like.
        br
        br
        | We create our own interactive tutorials only when we feel that a particular topic is not covered extensively by resources that can be accessed freely, or where these resources do not meet our quality criteria. We favour helping out to improve pre-existing resources before we make our own. Just like we tell our students to treat open-source projects.
        br
        br
        | We believe that not only this approach scales better but also makes for a smoother transition once our students leave she.codes and continue learning on-the-job.
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseThree') Why is it exclusively for women and girls?
  #collapseThree.panel-collapse.collapse.in
    .panel-body
      p.answer
        | The fact that only a tiny fraction of software developers are female (1.5% of all open-source authors) tells us that there is a huge potential of talent that for some reason is not attracted to the fun and extremely rewarding art form that coding is. The huge success of initiatives like Rails Girls tells us however that it is not the challenges of mastering technology that keep women from writing software. Obviously, being female-only greatly increases the attractiveness of a learning environment to women. Why is that? Good question!
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseFour')
        | But! I want to learn programming too and I am a nice guy!  Is it fair to exclude me?
  #collapseFour.panel-collapse.collapse.in
    .panel-body
      p.answer
        | she.codes is the first instalment of the learning platform we create at INSERT MODE. We will offer an open-for-everyone environment in the future and, in addition to everything else, we will address issues of cross-gender collaboration. (It will be a lot of fun anyway, promise!)
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseFive') Why are you teaching crappy JavaScript instead of my favourite language x?
  #collapseFive.panel-collapse.collapse.in
    .panel-body
      p.answer
        | True, JavaScript has certain disadvantages. As building web sites is what we teach, and it&apos;s the only programming language of web browsers, there is no way around it. Instead of merely accepting it as a necessity, we fully embrace JavaScript in the browser and on the server. NodeJS is a rising star on the server-side and is without a doubt here to stay. Being able to develop a complete web site, front-end and back-end, in just one language that you know really well is much more effective and less confusing than dealing with two languages between which you split your development time.
        br
        br
        | Besides, JavaScript is awesome - you just didn&rsquor;t realise it yet!
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseSix') Isn&rsquor;t in-person training more effective than online learning?
  #collapseSix.panel-collapse.collapse.in
    .panel-body
      p.answer
        | It probably is. However, it is not easy for everyone to attend classes in person. Be it because they are living in a rural area or are not as flexible time-wise (think kids, job). However, we dislike automised evaluation of assignments, because we found it to be frustrating and error-prone. Nothing is more discouraging than an algorithm that does not detect that your code is a valid solution to the given problem.
        br
        br
        | On she.codes, students are not alone. They collaborate in real-time in pairs on an assignment while having a conversation over a peer-to-peer audio link. The assignment is then reviewed by other, more experienced, students to give valuable feedback. We believe that this approach combines the best parts of in-person training with the flexibility of remote learning that is needed by many.
        br
        br
        | Having said that, the site will inform students about upcoming events in the vicinity, and we will organise casual meet-ups.
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseSeven')
        | Why is it free? Am I the product? Are you selling my data? What is the business model?
  #collapseSeven.panel-collapse.collapse.in
    .panel-body
      p.answer
        | Very good question! The first lectures are free because we believe that everyone should have a chance to evaluate our style of teaching and the site&rsquor;s features, and should be able to get a feel for the community. If you make it past the free stage, you will already be skilled enough to be chased by recruiters that work for start-up companies and will be able to make your living as a freelance web designer. We think, from that point on, it is fair to ask for a small fee to cover our costs.
        br
        br
        | We actively work on putting people into more attractive jobs that finish the more advanced stages. Being the matchmaker between our best students and attractive tech companies worldwide is another income stream. So, yes, in a way, we use the knowledge of the fact that you are awesome (which is a data point about you) to make money in the way that recruitment firms do. If that is not in your interest, we won&rsquor;t work on getting you job offers. It is opt-in.
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseEight') What kind of jobs will I be offered?
  #collapseEight.panel-collapse.collapse.in
    .panel-body
      p.answer
        | Jan will over his job as she.code&rsquor;s CTO to the first she.coder to finish the final stage (the stage is actually called &OpenCurlyDoubleQuote;CTO of she.codes&rdquor;!) That won&rsquor;t be easy at all and will take some time. Do you have what it takes?
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseNine')
        | What? You are promoting that noobs learn Vim, git and zsh? That is way too hard for them!
  #collapseNine.panel-collapse.collapse.in
    .panel-body
      p.answer
        | We are promoting efficient workflows and tools that do one thing good. Vim is an incredibly efficient code editor and well worth the investment of learning it. There are gamified tutorials to smooth the learning curve and at the end our students will edit code at the speed of thought. Our mission is nothing less than to create the next wave of awesome female developers. We aim high, and they will kick ass!
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseTen') So where is it? Where can I start?!
  #collapseTen.panel-collapse.collapse.in
    .panel-body
      p.answer
        | It is not there yet. We quit our daytime jobs to work on it, but we need funding to be able to afford to continue doing so. At the same time, we want to stay independent from investment firms, so we are planning a crowdfunding campaign.
.panel.panel-default
  .panel-heading
    h4.panel-title.question
      a(data-toggle='collapse', href='#collapseEleven') How can I help before the campaign?
  #collapseEleven.panel-collapse.collapse.in
    .panel-body
      p.answer
        ul
          li
            | Sign up for our mailing list and we will inform you when we know the timing of our campaign. You can then help us promote it and we will hopefully make it a success together.
          li
            | If you have the funds and think she.codes will make the world a better place, we&rsquor;d be very happy to receive donations.
          li
            | If you think your friends might be awesome she.coders or support our cause, make sure to tell them to sign up to the mailing list as well!
          li
            | If you work for a company that suffers from the lack of developer talents on the market, consider taking action against it by supporting she.codes.