h3 Interested in becoming a she.coder?
p.blurb
  li If you want to become a student,&nbsp;
    a(href='#mailinglist') sign up on the mailing list!
  li
    | If you think your friends might be awesome she.coders, or may support our cause, make sure to tell them to sign up too!

h3 We need you support
p.blurb
  | If, like us, you think that more women should be in software development and take their part in shaping tomorrow&rsquor;s Internet, then help us in creating the most awesome place to learn the art and craft of coding, and let&apos;s build a welcoming and supportive community around it!
p.blurb
  | You can help with your connections, your talent, your knowledge or with donations.
p.blurb
  | We are preparing to launch a crowdfunding campaign to be able to exclusively work on she.codes while staying independent of venture capital firms, and we would love to have your support! We will announce the launch of the campaign on the 
  a(href='#mailinglist') mailing list.
  | Help us to promote it, and together we can make she.codes happen!
p.blurb
  ul
    li 
      | If you have the funds and think she.codes will make the world a better place, you can support us in a sustainable way with a recurring donation via 
      a(href='http://www.gittip.com/insertmode') Gittip
      | . You don't even have to wait for the campaign to start!

    li
      | Use your social networks to help us get our message out across Twitter (hashtag 
      em #shecodes
      | ) App.net and Facebook!
    
    li
      | If you are part of the bigger movement that encourages woman to get into programming, let&rsquor;s join forces!&nbsp;

      a(href='mailto:she.codes.info@gmail.com') Get in touch.
    
    li
      | If you are already an experienced NodeJS or front-end developer of any/all/no gender, consider contributing to our&nbsp;
      
      a(href="http://github.com/insertmode") open-source projects
      | . 
    
    li
      | If you are a logo designer, you have already noticed that we need your help! Send your designs by&nbsp;
      a(href='mailto:she.codes.info@gmail.com') mail
      | !
    li
      | If your company suffers from the lack of developer talents on the market, consider taking action against it by becoming a sponsor or supporting us via&nbsp;
      a(href='http://www.gittip.com/insertmode') Gittip
      | . Help to create the next wave of highly skilled, agile and all-around awesome female developers with hands-on experience in social coding, pair programming and peer review!

p.blurb
  | Tell us what you think and get in touch by mail:&nbsp;
  a(href='mailto:she.codes.info@gmail.com') she.codes.info@gmail.com
