p.blurb
  | If you want to become a student,
  a(href='#mailinglist') sign up on the mailing list!
p.blurb
  | If, like us, you think that more women should be in software development and take their part in designing the face (and building the inner workings of) tomorrow&rsquor;s Internet, then help us in creating the most awesome place to learn the art and craft of coding, and let&apos;s build a welcoming and supporting community around it!
p.class
  | You can help us with your connections, your talent, your knowledge or donations.
  ul
    li
      a(href='#mailinglist') Sign up for the mailing list
      | to stay in touch, and tell your friends to do the same!
    li
      | We are preparing to launch a crowd funding campaign to stay independent of venture capital firms and would love to have your support! We will  announce the launch on the mailing list.
    li
      | We need legal consultancy for stuff like writing the terms and conditions that no one will ever read, and help with starting up the company.
    li
      | Use your social networks to help us get our message out across the interwebs! (
      em #shecodes
      | )
    li
      | If you are already an experienced NodeJS or front-end developer of any/all/no gender, contribute to our open source projects, like our curating site for free tutorials (with voting and review features), or the quiz and flash card modules of she.codes). You should be familiar with/not a hater of jade, stylus, browserify and (optionally) a fan of CoffeeScript, or familiar with CouchDB or other NOSQL databases.
    li
      | If you are part of the bigger movement that encourages woman to get into programming, let&rsquor;s join forces!
    li
      | If you are a logo designer, you have already noticed that we need your help! Sent your designs by mail!
    li
      | If your company, like many in this industry, is desperately seeking developers, consider supporting us via
      a(href='http://www.gittip.com/insertmode') Gittip
      | and help to create the next wave of highly skilled, agile and all-around awesome female developers with hands-on experience in social coding, pair programming and peer review.
p.blurb
  | Tell us what you think and get in touch by mail:
  a(href='mailto:she.codes.info@gmail.com') she.codes.info@gmail.com
p.blurb
  em
    | (If you are Fabrice Bellard, please allow us to use the most awesome piece of JavaScript ever created! It blew our minds!)