h3 Exploration

p.blurb
  | she.codes is like one of those game where you level up a character's set of skills. Except, that character is actually you yourself and the skills are actually useful!
p.blurb
  | We challenge you with quests and provide you with pointers to resources. You then go out into the wild forests of the Internets and pick up the gems of wisdom others put there for you. Get sidetracked as you like, but please return safely home, where you can show off what you've learned by taking the final quiz of each section. Answering correctly will level up your set of skills and will unlock the next level. And you will earn badges for special achievements, like helping out a fellow coder that got stuck. 
p.blurb
  | Instead of putting you into a closed learning environment, we teach you how to use the Internet in order to learn to build the Internet. We curate online resources such as interactive tutorials, screencasts, free text books and podcasts, and fill in the blanks where needed.

h3 Collaboration

p.blurb
  | As you explore the world of programming, you will encounter and team up with other she.coders to collaborate on assignments. Your peers will come from all over the planet, and you will have voice conversations while you code with them. When you have finished an assignment, more experienced members of the community will review your code and give you feedback. Soon you will be the one to give feedback, and you will level up your code review skills by doing so.
p.blurb
  | You will never be alone, and you will soon pass on what you've learned while picking up new techniques from your fellow coders.


h3 Experience

p.blurb
  | Once you are advanced enough, the assignments will turn into more serious challenges, and what you do starts to affect other peoples lives. For example, we might assign you to a non-profit open source project that implements assistive tools for those who can't use the Internet without them. You'll learn by doing – by doing something useful even.
