p.blurb
  | she.codes is like a role playing game - we challenge you with a quest and provide you with pointers to resources. You then go out into the wild forests of the Internets and pick up the gems of wisdom others put there for you. Get sidetracked as you like, but please return safely home, where you can show off what you&rsquor;ve learned by taking the quiz that ends each section. Answering correctly will level up your set of skills and will unlock the next level.
p.blurb
  | Instead of putting you into a closed learning environment, we teach you how to use the Internet in order to build the Internet. We curate online resources such as interactive tutorials, screencasts, free text books and podcasts, and fill in the blanks where needed.
p.blurb
  | As you learn, you will earn badges for special achievements and you will encounter, and pair up with, other she.coders to collaborate on assignments. Your pairs will come from all over the planet, and you will have voice conversations while you code with them. When you have finished an assignment, more experienced members of the community will review your code and give you feedback. Soon you will be the one to give feedback, and you will level up your code review skills by doing so.
p.blurb
  | We will show you more efficient ways of writing code, and your productivity will rise continuously.
p.blurb
  | Once you know enough, the assignments will turn into more serious challenges, and what you do starts to actually affect other people&rsquor;s lives. For example, we might assign you to a non-profit open source project that aims to improve some aspect of everyday life for someone.
p.blurb
  | You will never be alone, and you will soon pass on what you&rsquor;ve learned while picking up new techniques from your fellow coders.
p.blurb
  | You will find and collect flash cards along the way that not only teach you facts you need for work, but also background information about the people that created the tools you use. If you like, you can take part in multi-player quiz games for fun and credits.
p.blurb
  | We will keep you updated about user meet-ups in your neighbourhood, where you have a chance to meet your fellow she.coders in person.
p.blurb
  | You will feel at home on any Unix server you encounter, because we don&rsquor;t simulate. The technologies you use right from the beginning are the technologies that power some of the biggest sites on the web.
p.blurb
  | Before you know it, you will be one of those experts that software companies all around the world are desperate to employ.