doctype html
html(lang='en-us')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='she.codes_ - the social coding school for women')
    link(rel='shortcut icon', href='assets/ico/favicon.ico')
    title she.codes_
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/animate.min.css')
    link(rel='stylesheet', href='assets/css/font-awesome.min.css')
    //if lt IE 9
      script(src='assets/js/html5shiv.js')
      script(src='assets/js/respond.min.js')
  body
    .loader
      .fading-line
    section#home.page
      .container
        .content.cover.text-center
          .row
            .col-lg-12
              h1.animated.hiding(data-animation='fadeInDown', data-delay='300') she.codes_
              h3.animated.hiding(data-animation='fadeIn', data-delay='600') The social coding school for women
              a.btn.btn-blue.nav-external.animated.hiding.pull-left(data-animation='fadeIn', data-delay='900', href='#mission') Learn more
    #navbar-top
      nav.navbar.navbar-default.navbar-static(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.nav-external(href='#home') she.codes_
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='#home') Home
              li
                a(href='#mission') Mission
              li
                a(href='#project') How and What We Teach
              li
                a(href='#faq') FAQ
              li
                a(href='#team') The Team
              li
                a(href='#getinvolved') Get Involved
              li
                a(href='#contact') Contact Us
    section#mission.page
      .container
        .content.text-center
          .heading
            h2 Our Mission
            .border
          .row
            .col-lg-4(data-animation='fadeInUp', data-delay='300')
              i.fa.fa-graduation-cap.fa-5x
              h2 Educate
              p Educate women and girls to create the next wave of skilled female technologists.
            
            .col-lg-4(data-animation='fadeInUp', data-delay='600')
              i.fa.fa-female.fa-5x
              h2 Inspire
              p Inspire change by encouraging gender parity in tech.
            
            .col-lg-4(data-animation='fadeInUp', data-delay='900')
              i.fa.fa-users.fa-5x
              h2 Collaborate
              p
                | Foster social coding by creating a space that makes it easy to collaborate on code.
    section#project.page
      .container
        .content.text-center
          .heading
            h2 How We Teach
            .border
          .row
            .col-lg-12.animated.hiding(data-animation='fadeInDown')
              #project.carousel.slide
                .carousel-inner
                  .item.active
                    include how_we_teach.jade
                  // /item active
                // /carousel-inner
              // /project
            // /column
          // /row
        // /content text-center
      // /container
      .container
        .content.text-center
          .heading
            h2 What We Teach
            .border
          .row
            .col-lg-12.animated.hiding(data-animation='fadeInDown')
              #project.carousel.slide
                .carousel-inner
                  .item.active
                    include what_we_teach.jade
                  // /item active
                // /carousel-inner
              // /project
            // /column
          // /row
        // /content text-center
      // /container
    section#faq.page
      .container
        .content.text-center
          .heading
            h2 Frequently Asked Questions
            .border
            .row
              .col-lg-12.animated.hiding(data-animation='fadeInDown')
                #accordion.panel-group
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseOne') Why yet another online learning platform?
                    #collapseOne.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | We have a different scope than sites like Codecademy, CodeSchool or Treehouse (to name a few). We are not competing with these sites but complement their offerings.
                          br
                          br
                          | We curate learning resources that are freely available on the net and offer guidance on what to learn when. We have opinions about what technologies are the moving parts of tomorrow&apos;s Internet and encourage our students to look at them first and then leave the path to go on adventures on their own or in small groups.
                          br
                          br
                          | Instead of having a closed learning environment, we integrate with sites like GitHub and Stack Overflow and use real tools to better prepare our students for real projects.
                          br
                          br
                          | From the beginning, we accompany the training of technical skills with the human side of coding. This includes the history of programming and presenting the authors behind the tools we use. Most importantly, the platform pairs students with similar skill levels and gives them assignments to collaborate on. It then moderates a peer review process to give them feedback by real humans rather than algorithms.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseTwo') So, you use tutorials made by others?
                    #collapseTwo.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | Yes. Plus free text books, screencasts and podcasts. We also encourage those students who can afford it to create Gittip and Flattr accounts to support authors of materials they like.
                          br
                          br
                          | We create our own interactive tutorials only when we feel that a particular topic is not covered extensively by resources that can be accessed freely, or where these resources do not meet our quality criteria. We favour helping out to improve pre-existing resources before we make our own. Just like we tell our students to treat open-source projects.
                          br
                          br
                          | We believe that not only this approach scales better but also makes for a smoother transition once our students leave she.codes and continue learning on-the-job.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseThree') Why is it exclusively for women and girls?
                    #collapseThree.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | The fact that only a teeny tiny fraction of software developers are female (1.5% of open-source authors are female) tells us that there is a huge potential of talent that for some reason is not attracted to the fun and extremely rewarding art form that coding is. The huge success of initiatives like Rails Girls tells us that it is not the challenges of mastering technology that keep women from considering a career in the software industry. Obviously, having a female-only environment greatly reduces fear. Why is that? Good question!
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseFour')
                          | But! I want to learn programming too and I am a nice guy!  Is it fair to exclude me?
                    #collapseFour.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | she.codes is the first instalment of the learning platform we create at INSERT MODE. We will offer an open-for-everyone environment in the future and, in addition to everything else, we will address issues of cross-gender collaboration. (It will be a lot of fun anyway, promise!)
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseFive') Why are you teaching crappy JavaScript instead of my favourite language x?
                    #collapseFive.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | True, JavaScript has certain disadvantages. As building web sites is what we teach, and it&apos;s the only programming language of web browsers, there is no way around it. Instead of merely accepting it as a necessity, we fully embrace JavaScript in the browser and on the server. NodeJS is a rising star on the server-side and is without a doubt here to stay. Being able to develop a complete web site, front-end and back-end, in just one language that you know really well is much more effective and less confusing than dealing with two languages between which you split your development time.
                          br
                          br
                          | Besides, JavaScript is awesome - you just didn&rsquor;t realise it yet!
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseSix') Isn&rsquor;t in-person training more effective than online learning?
                    #collapseSix.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | It probably is. However, it is not easy for everyone to attend classes in person. Be it because they are living in a rural area or are not as flexible time-wise (think kids, job). However, we dislike automised evaluation of assignments, because we found it to be frustrating and error-prone. Nothing is more discouraging than an algorithm that does not detect that your code is a valid solution to the given problem.
                          br
                          br
                          | On she.codes, students are not alone. They collaborate in real-time in pairs on an assignment while having a conversation over a peer-to-peer audio link. The assignment is then reviewed by other, more experienced, students to give valuable feedback. We believe that this approach combines the best parts of in-person training with the flexibility of remote learning that is needed by many.
                          br
                          br
                          | Having said that, the site will inform students about upcoming events in the vicinity, and we will organise casual meet-ups.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseSeven')
                          | Why is it free? Am I the product? Are you selling my data? What is the business model?
                    #collapseSeven.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | Very good question! The first lectures are free because we believe that everyone should have a chance to evaluate our style of teaching and the site&rsquor;s features, and should be able to get a feel for the community. If you make it past the free stage, you will already be skilled enough to be chased by recruiters that work for start-up companies and will be able to make your living as a freelance web designer. We think, from that point on, it is fair to ask for a small fee to cover our costs.
                          br
                          br
                          | We actively work on putting people into more attractive jobs that finish the more advanced stages. Being the matchmaker between our best students and attractive tech companies worldwide is another income stream. So, yes, in a way, we use the knowledge of the fact that you are awesome (which is a data point about you) to make money in the way that recruitment firms do. If that is not in your interest, we won&rsquor;t work on getting you job offers. It is opt-in.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseEight') What kind of jobs will I be offered?
                    #collapseEight.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | Jan will over his job as she.code&rsquor;s CTO to the first she.coder to finish the final stage (the stage is actually called &OpenCurlyDoubleQuote;CTO of she.codes&rdquor;!) That won&rsquor;t be easy at all and will take some time. Do you have what it takes?
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseNine')
                          | What? You are promoting that noobs learn Vim, git and zsh? That is way too hard for them!
                    #collapseNine.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | We are promoting efficient workflows and tools that do one thing good. Vim is an incredibly efficient code editor and well worth the investment of learning it. There are gamified tutorials to smooth the learning curve and at the end our students will edit code at the speed of thought. Our mission is nothing less than to create the next wave of awesome female developers. We aim high, and they will kick ass!
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseTen') So where is it? Where can I start?!
                    #collapseTen.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          | It is not there yet. We quit our daytime jobs to work on it, but we need funding to be able to afford to continue doing so. At the same time, we want to stay independent from investment firms, so we are planning a crowdfunding campaign.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title.question
                        a(data-toggle='collapse', href='#collapseEleven') How can I help before the campaign?
                    #collapseEleven.panel-collapse.collapse.in
                      .panel-body
                        p.answer
                          ul
                            li
                              | Sign up for our mailing list and we will inform you when we know the timing of our campaign. You can then help us promote it and we will hopefully make it a success together.
                            li
                              | If you have the funds and think she.codes will make the world a better place, we&rsquor;d be very happy to receive donations.
                            li
                              | If you think your friends might be awesome she.coders or support our cause, make sure to tell them to sign up to the mailing list as well!
                            li
                              | If you work for a company that suffers from the lack of developer talents on the market, consider taking action against it by supporting she.codes.
                // /accordion
                p.collapse
                a.btn.showdetails(data-toggle='collapse', data-target='#viewdetails')
    section#team.page
      .container
        .content.text-center
          .heading
            h2 The she.codes Team
            .border
          .row
            .col-md-6.col-sm-6.col-xs-12.teammate.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              .photo-rounded
                center
                  img.img-responsive(src='assets/img/team/olena.jpg', alt='')
              .bio
                h4 Olena Levitsky
                h5 Co-Founder and CEO
                .border
                p.blurb
                  | Olena is an American freelance developer and software consultant based in Edinburgh. She developed a passion for addressing the lack of women in STEM fields while studying mathematics and neuroscience. Along with Jan B&ouml;lsche, she founded she.codes in an attempt to remedy this imbalance.
                p.blurb
                  | Olena is self-taught, using the same resources that are available to she.codes students.
                ul.list-inline
                  li
                    a(href='http://www.olenalevitsky.com', title='Website')
                      i.fa.fa-link
                  li
                    a(href='http://www.twitter.com/LenaKari', title='Twitter')
                      i.fa.fa-twitter
                  li
                    a(href='http://www.linkedin.com/in/lenakari', title='LinkedIn')
                      i.fa.fa-linkedin
                  li
                    a(href='http://www.github.com/LenaKari', title='GitHub')
                      i.fa.fa-github
                  li
                    a(href='mailto:olena.levitsky@gmail.com', title='Email')
                      i.fa.fa-envelope
            .col-md-6.col-sm-6.col-xs-12.teammate.animated.hiding(data-animation='fadeInUp', data-delay='300')
              .photo-rounded
                center
                  img.img-responsive(src='assets/img/team/jan.jpg', alt='')
              .bio
                h4 Jan B&ouml;lsche
                h5 Co-Founder and CTO
                .border
                p.blurb
                  | Jan taught himself programming when he was eight years old, which is a very long time ago. However, he&rsquor;s still learning this form of art and will probably never stop doing so. Today he is an independent Software Consultant, author and photographer based in Berlin. Throughout his career, Jan consulted dozens of companies and development teams consisting predominantly of young men.
                p.blurb
                  | Jan is she.code&rsquor;s interim CTO. He will offer this position to the first student that finishes the final learning stage.
                ul.list-inline
                  li
                    a(href='http://www.blindphotographer.com', title='Website')
                      i.fa.fa-link
                  li
                    a(href='http://www.twitter.com/regulargonzales', title='Twitter')
                      i.fa.fa-twitter
                  li
                    a(href='http://www.linkedin.com/in/regular', title='LinkedIn')
                      i.fa.fa-linkedin
                  li
                    a(href='http://www.github.com/regular', title='GitHub')
                      i.fa.fa-github
                  li
                    a(href='mailto:regular.gonzales@gmail.com', title='Email')
                      i.fa.fa-envelope
    section#getinvolved.page
      .container
        .content.text-center
          .heading
            h2 Get Involved
            .border
          .row
            .col-lg-12.animated.hiding(data-animation='fadeInDown')
              #getinvolved.carousel.slide
                .carousel-inner
                  .item.active
                    p.blurb
                      | If you want to become a student,
                      a(href='#mailinglist') sign up on the mailing list!
                    p.blurb
                      | If, like us, you think that more women should be in software development and take their part in designing the face (and building the inner workings of) tomorrow&rsquor;s Internet, then help us in creating the most awesome place to learn the art and craft of coding, and let&apos;s build a welcoming and supporting community around it!
                    p.class
                      | You can help us with your connections, your talent, your knowledge or donations.
                      ul
                        li
                          a(href='#mailinglist') Sign up for the mailing list
                          | to stay in touch, and tell your friends to do the same!
                        li
                          | We are preparing to launch a crowd funding campaign to stay independent of venture capital firms and would love to have your support! We will  announce the launch on the mailing list.
                        li
                          | We need legal consultancy for stuff like writing the terms and conditions that no one will ever read, and help with starting up the company.
                        li
                          | Use your social networks to help us get our message out across the interwebs! (
                          em #shecodes
                          | )
                        li
                          | If you are already an experienced NodeJS or front-end developer of any/all/no gender, contribute to our open source projects, like our curating site for free tutorials (with voting and review features), or the quiz and flash card modules of she.codes). You should be familiar with/not a hater of jade, stylus, browserify and (optionally) a fan of CoffeeScript, or familiar with CouchDB or other NOSQL databases.
                        li
                          | If you are part of the bigger movement that encourages woman to get into programming, let&rsquor;s join forces!
                        li
                          | If you are a logo designer, you have already noticed that we need your help! Sent your designs by mail!
                        li
                          | If your company, like many in this industry, is desperately seeking developers, consider supporting us via
                          a(href='http://www.gittip.com/insertmode') Gittip
                          | and help to create the next wave of highly skilled, agile and all-around awesome female developers with hands-on experience in social coding, pair programming and peer review.
                    p.blurb
                      | Tell us what you think and get in touch by mail:
                      a(href='mailto:she.codes.info@gmail.com') she.codes.info@gmail.com
                    p.blurb
                      em
                        | (If you are Fabrice Bellard, please allow us to use the most awesome piece of JavaScript ever created! It blew our minds!)
                  // /item active
                // /carousel-inner
              // /project
            // /column
          // /row
        // /content text-center
      // /container
    section#contact.page
      .container
        .content.text-center
          .heading
            h2 Getting in Touch
            .border
            p
          // Begin MailChimp Signup Form
          .row
            #mailinglist.col-lg-12.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='http://codes.us8.list-manage.com/subscribe/post?u=b9949874adc5510e04f273529&id=981f356d82', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  .mc-field-group
                    input#mce-NAME.required(type='text', value='', name='NAME', placeholder='Name')
                  .mc-field-group
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Email')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style='position: absolute; left: -5000px;')
                    input(type='text', name='b_b9949874adc5510e04f273529_981f356d82', tabindex='-1', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Join our mailing list!', name='subscribe')
              // /mc_embed_signup
            // /mailinglist
          // End mc_embed_signup
          .row
            .col-lg-3.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='mailto:she.codes.info@gmail.com')
                i.fa.fa-envelope.fa-3x.email
              a(href='mailto:she.codes.info@gmail.com') Email Us
            .col-lg-3.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.facebook.com/she.codes')
                i.fa.fa-facebook.fa-3x.facebook
              a(href='http://www.facebook.com/she.codes') Facebook
            .col-lg-3.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.github.com/insertmode')
                i.fa.fa-github.fa-3x.github
              a(href='http://www.github.com/insertmode') GitHub
            .col-lg-3.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.gittip.com/insertmode')
                i.fa.fa-gittip.fa-3x.gittip
              a(href='http://www.gittip.com/insertmode') Gittip
    footer#footer
      .container
        .row
          p.copyright
            span.self-ref she.codes
            | is made by
            span.self-ref
              a(href='http://www.insert-mode.com') INSERT MODE 
            | &middot;
            | Based on
            a(href='http://www.github.com/halibegic/Merlin') Merlin
            | and
            a(href='http://getbootstrap.com/') Bootstrap
            | &middot;
            | Icons by
            a(href='http://fontawesome.io/') Font Awesome
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/isotope.pkgd.min.js')
    script(src='assets/js/imagesloaded.min.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.nav.min.js')
    script(src='assets/js/jquery.appear.min.js')
    script(src='assets/js/twitterFetcher.min.js')
    script(src='assets/js/script.js')
    script.
      (function(b,o,i,l,e,r) {
        b.GoogleAnalyticsObject=l;
        b[l] || (b[l] = function() {
          (b[l].q=b[l].q||[]).push(arguments)
        });
        b[l].l=+new Date;
        e=o.createElement(i);
        r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r);
      })(window,document,'script','ga');
      
      ga('create','UA-25089888-9');
      ga('send','pageview');
