doctype html
html(lang='en-us')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='she.codes_ - the social coding school for women')
    link(rel='shortcut icon', href='assets/ico/favicon.ico')
    title she.codes_
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/animate.min.css')
    link(rel='stylesheet', href='assets/css/font-awesome.min.css')
    script(src='http://api.flattr.com/js/0.6/load.js?mode=manual')

    //if lt IE 9
      script(src='assets/js/html5shiv.js')
      script(src='assets/js/respond.min.js')

  body
    .loader
      .fading-line
    section#home.page
      .container
        .content.cover.text-center
          .row
            .col-lg-12
              h1.animated.hiding(data-animation='fadeInDown', data-delay='300') she.codes_
              h3.animated.hiding(data-animation='fadeIn', data-delay='600') The social coding school for women
              a.btn.btn-blue.nav-external.animated.hiding.pull-left(data-animation='fadeIn', data-delay='900', href='#mission') Learn more
    #navbar-top
      nav.navbar.navbar-default.navbar-static(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='http://now.she.codes/blog/') blog
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='#home') Home
              li
                a(href='#mission') Mission
              li
                a(href='#project') How and What We Teach
              li
                a(href='#faq') FAQ
              li
                a(href='#team') The Team
              li
                a(href='#getinvolved') Get Involved
              li
                a(href='#makeithappen') Make it Happen!
    section#mission.page
      .container
        .content.text-center
          .heading
            h2 Our Mission
            .border
          .row
            .col-lg-4(data-animation='fadeInUp', data-delay='300')
              i.fa.fa-graduation-cap.fa-5x
              h2 Educate
              p Educate women and girls to create the next wave of skilled female technologists.
            
            .col-lg-4(data-animation='fadeInUp', data-delay='600')
              i.fa.fa-female.fa-5x
              h2 Inspire
              p Inspire change by encouraging gender parity in tech.
            
            .col-lg-4(data-animation='fadeInUp', data-delay='900')
              i.fa.fa-users.fa-5x
              h2 Collaborate
              p
                | Foster social coding by creating a space that makes it easy to collaborate on code.
    section#project.page
      .container
        .content.text-center
          .heading
            h2 How We Teach
            .border
          .row
            .col-lg-12.animated.hiding(data-animation='fadeInDown')
              #project.carousel.slide
                .carousel-inner
                  .item.active
                    include how_we_teach.jade
                  // /item active
                // /carousel-inner
              // /project
            // /column
          // /row
        // /content text-center
      // /container
      .container
        .content.text-center
          .heading
            h2 What We Teach
            .border
          .row
            .col-lg-12.animated.hiding(data-animation='fadeInDown')
              #project.carousel.slide
                .carousel-inner
                  .item.active
                    include what_we_teach.jade
                  // /item active
                // /carousel-inner
              // /project
            // /column
          // /row
        // /content text-center
      // /container
    section#faq.page
      .container
        .content.text-center
          .heading
            h2 Frequently Asked Questions
            .border
            .row
              .col-lg-12.animated.hiding(data-animation='fadeInDown')
                #accordion.panel-group
                  include faq.jade
                // /accordion
                p.collapse
                a.btn.showdetails(data-toggle='collapse', data-target='#viewdetails')
    section#team.page
      .container
        .content.text-center
          .heading
            h2 The she.codes Team
            .border
          .row
            .col-md-6.col-sm-6.col-xs-12.teammate.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              .photo-rounded
                center
                  img.img-responsive(src='assets/img/team/olena.jpg', alt='')
              .bio
                h4 Olena Levitsky
                h5 Co-Founder and CEO
                .border
                p.blurb
                  | Olena is an American freelance developer and software consultant based in Edinburgh. She developed a passion for addressing the lack of women in STEM fields while studying mathematics and neuroscience. Along with Jan B&ouml;lsche, she founded she.codes in an attempt to remedy this imbalance.
                p.blurb
                  | Olena is self-taught, using the same resources that are available to she.codes students.
                ul.list-inline
                  li
                    a(href='http://www.olenalevitsky.com', title='Website')
                      i.fa.fa-link
                  li
                    a(href='http://www.twitter.com/LenaKari', title='Twitter')
                      i.fa.fa-twitter
                  li
                    a(href='http://www.linkedin.com/in/lenakari', title='LinkedIn')
                      i.fa.fa-linkedin
                  li
                    a(href='http://www.github.com/LenaKari', title='GitHub')
                      i.fa.fa-github
                  li
                    a(href='mailto:olena@she.codes', title='Email')
                      i.fa.fa-envelope
            .col-md-6.col-sm-6.col-xs-12.teammate.animated.hiding(data-animation='fadeInUp', data-delay='300')
              .photo-rounded
                center
                  img.img-responsive(src='assets/img/team/jan.jpg', alt='')
              .bio
                h4 Jan B&ouml;lsche
                h5 Co-Founder and CTO
                .border
                p.blurb
                  | Jan taught himself programming when he was eight years old, which is a very long time ago. However, he&rsquor;s still learning this form of art and will probably never stop doing so. Today he is an independent Software Consultant, author and photographer based in Berlin. Throughout his career, Jan consulted dozens of companies and development teams consisting predominantly of young men.
                p.blurb
                  | Jan is she.code&rsquor;s interim CTO. He will offer this position to the first student that finishes the final learning stage.
                ul.list-inline
                  li
                    a(href='http://www.blind-photographer.com', title='Website')
                      i.fa.fa-link
                  li
                    a(href='http://www.twitter.com/regulargonzales', title='Twitter')
                      i.fa.fa-twitter
                  li
                    a(href='http://www.linkedin.com/in/regular', title='LinkedIn')
                      i.fa.fa-linkedin
                  li
                    a(href='http://www.github.com/regular', title='GitHub')
                      i.fa.fa-github
                  li
                    a(href='mailto:jan@she.codes', title='Email')
                      i.fa.fa-envelope
    section#getinvolved.page
      .container
        .content.text-center
          .heading
            h2 Get Involved
            .border
          .row
            .col-lg-12.animated.hiding(data-animation='fadeInDown')
              #getinvolved.carousel.slide
                .carousel-inner
                  .item.active
                    include get_involved.jade
                  // /item active
                // /carousel-inner
              // /project
            // /column
          // /row
        // /content text-center
      // /container
    section#makeithappen.page
      .container
        .content.text-center
          .heading
            a(id='makeithappen-a')
              h2 Make it Happen!
            .border
            p
          // Begin MailChimp Signup Form
          .row
            #mailinglist.col-lg-12.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='http://codes.us8.list-manage.com/subscribe/post?u=b9949874adc5510e04f273529&id=981f356d82', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  .mc-field-group
                    input#mce-NAME.required(type='text', value='', name='NAME', placeholder='Name')
                  .mc-field-group
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Email')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style='position: absolute; left: -5000px;')
                    input(type='text', name='b_b9949874adc5510e04f273529_981f356d82', tabindex='-1', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Join our mailing list!', name='subscribe')
              // /mc_embed_signup
            // /mailinglist
            
          .row
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600', style="height:120px;")
              #flattr_button
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.gittip.com/insertmode')
                i.fa.fa-gittip.fa-3x.gittip
              a(href='https://www.gittip.com/shecodes_') Gittip
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(target='_blank',  title='Bitcoin', href='bitcoin:1DqGfziCY2N4H2LW9Hz2rWJCZwowz962g7')
                i.fa.fa-btc.fa-3x.bitcoin
              a(href='bitcoin:1DqGfziCY2N4H2LW9Hz2rWJCZwowz962g7') Bitcoin
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(class='paypal-icon' href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=K2JJDMUPQYJBL')
              a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=K2JJDMUPQYJBL') Paypal

          .row
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='mailto:info@she.codes')
                i.fa.fa-envelope.fa-3x.email
              a(href='mailto:info@she.codes') Email Us
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.twitter.com/shecodes_')
                i.fa.fa-twitter.fa-3x.twitter
              a(href='https://www.twitter.com/shecodes_') Twitter
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.github.com/insertmode')
                i.fa.fa-github.fa-3x.github
              a(href='http://www.github.com/insertmode') GitHub
            .col-lg-3.col-sm-3.col-xs-6.animated.hiding(data-animation='fadeInLeft', data-delay='600')
              a(href='http://www.facebook.com/she.codes')
                i.fa.fa-facebook.fa-3x.facebook
              a(href='http://www.facebook.com/she.codes') Facebook
    footer#footer
      .container
        .row
          p.copyright
            span.self-ref she.codes&nbsp;
            | is made by&nbsp;
            span.self-ref
              a(href='http://www.insert-mode.com') INSERT MODE 
            | &nbsp;&middot;&nbsp;
            | Based on&nbsp;
            a(href='http://www.github.com/halibegic/Merlin') Merlin
            | &nbsp;and&nbsp;
            a(href='http://getbootstrap.com/') Bootstrap
            | &nbsp;&middot; Icons by&nbsp;
            a(href='http://fontawesome.io/') Font Awesome
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/isotope.pkgd.min.js')
    script(src='assets/js/imagesloaded.min.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.nav.min.js')
    script(src='assets/js/jquery.appear.min.js')
    script(src='assets/js/twitterFetcher.min.js')
    script(src='assets/js/script.js')
    script.
      (function(b,o,i,l,e,r) {
        b.GoogleAnalyticsObject=l;
        b[l] || (b[l] = function() {
          (b[l].q=b[l].q||[]).push(arguments)
        });
        b[l].l=+new Date;
        e=o.createElement(i);
        r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r);
      })(window,document,'script','ga');
      
      ga('create','UA-51493039-1','she.codes');
      ga('send','pageview');
    script.      
      $(function() {
        FlattrLoader.render({
            'uid': 'shecodes',
            'url': 'http://now.she.codes/',
            'title': 'she.codes',
            'description': 'The social coding school for women'
        }, 'flattr_button', 'replace');
      });
    script.
      $(document).on('click','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a') ) {
          $(this).collapse('hide');
        }
      });
