p.blurb
  | We will teach students everything they need to know to become a full stack developer working in a distributed, agile team. This includes hard and soft skills.

h3 Facts
p.blurb
  | Throughout the world of she.codes, you will find and collect flash cards that teach you facts you need for work, provide background information about the people that created the tools, and fun facts about the history of programming. Nerd parties will be so much more fun! And if you like, you can take part in multi-player quiz games and earn some extra credibility.

h3 Hard Skills
p.blurb
  | You will feel at home on every Unix server you encounter, because we don't simulate. The technologies you use in the learning environment right from the beginning are technologies that power some of the biggest sites on the web.
p.blurb
  | You will aquire the following skills:
p.blurb
  ul
    li how to research effectively
    li HTML5, CSS3, markdown
    li JavaScript in the browser and on the server (NodeJS)
    li code editing (Vim)
    li version control (git)
    li testing (unit tests/test-driven development)  
    li Linux and GNU
    li RESTful APIs
    li code reuse
    li design patterns
    li the UNIX philosophy
    li package management systems
    li document-based databases 
    li crypto and security
    li debugging, profiling, optimization
    li deployment, continous integration, scaling, devops
    li software licences
    li agile methodologies
     
h3 Communication
p.blurb
  | Programming is much more than writing code - it is about communication between humans. True, we write code that is interpreted by machines, but it needs to be readable by humans too! If we know how to efficiently talk about code, we will become successful members of the community. With the help of this community, we will build amazing things.
p.blurb
  | The founders of GitHub coined the term <em>social coding</em>. It stands for a new, more open and collaborative approach to software development. It is much easier now to incrementally improve on other people's projects and realize an idea more quickly. This is a radically more effective way to building software. It requires a set of social skills that are as important as the technical skills. At she.codes, we especially emphasize these topics:
p.blurb
  ul
    li open source culture
    li interactions with the community on GitHub
    li social dynamics of debating online
    li how to talk about code
    li social dynamics of a remote pair programming session
    li how to review code
    li team dynamics
    li code ownership
    li the special challenges of working with friends      
