/*

Merlin - Responsive One Page Template
Version: 1.0
By: Hasan Alibegic, hasan461@gmail.com
License: Apache License v2.0

*/

/* hotfixing flattr button position*/
iframe {
  position:relative;
  top:63px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 16px; 
}
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300 }
*,
*:focus { outline: none !important }
a:hover,
a:focus {
  color: #0c86b6;
  text-decoration: none;
}
li {
  text-align: left;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.btn {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}
.btn-blue {
  color: #fff;
  background-color: #0093cf;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-green {
  color: #fff;
  background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #2a3940;
}
.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar-top { min-height: 51px }
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border-top: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-default .navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0093cf;
  background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #333 }
.navbar-default.affix {
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.page { overflow: hidden }
.page .content { padding: 60px 0 }
.page .content.cover { padding: 240px 0 }
.page .heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.page .border {
  width: 80px;
  height: 2px;
  margin: 0 auto 15px auto;
  background-color: #71be3c;
}
.page .heading p { margin: 20px auto 0 }
#home {
  padding: 0;
  color: #fff;
  background-image: url(../img/cover/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#home h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 3.75em;
  text-align: left;
}
#home a { margin: 0 5px }
#home h3 {
  margin: 0 0 35px 0;
  text-align: left;
}
#mission i { padding-top: 20px }
#mission .content { padding-bottom: 100px }
#project {
  color: #444;
  background-color: #fff;
}
#project .item { margin-bottom: 30px }
#project .blurb { color: #444 }
#project .carousel-control {
  top: 15%;
  width: 0%;
  display: none;
  font-size: 2.5em;
  background-image: none;
  text-shadow: none;
}
#faq {
  color: #444;
  background-color: #fff;
}
#faq .item { margin-bottom: 30px }
#faq .quote {
  padding: 0 90px;
  font-size: 1em;
}
#faq .quote:before {
  margin-right: 10px;
  font-family: fontawesome;
  content: '\f10d';
}
#faq .question { 
  color: #444;
  font-size: 1.2em; 
  font-weight: bold;
}
#faq .answer { 
  color: #444;
  text-align: left;
}
#faq .carousel-control {
  top: 15%;
  width: 0%;
  display: none;
  font-size: 2.5em;
  background-image: none;
  text-shadow: none;
}
#team .teammate { margin-top: 3% }
#team .teammate .bio { padding-top: 10px }
#team .teammate .bio .blurb { 
  text-align: left;
  margin: 1em 10px; 
}
#team .teammate .photo-rounded {
  overflow: hidden;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}     
#team .teammate .photo-rounded img {
  margin: 5%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
#team .teammate:hover .photo-rounded img,
#team .teammate:focus .photo-rounded img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#team .teammate .bio .border {
  height: 1px;
  margin: 15px auto;
}
#team .teammate .bio ul {
  margin-bottom: 0;
  font-size: 1em;
}
#team .teammate .bio a { color: #666 }
#team .teammate .bio a:hover,
#team .teammate .bio a:focus { color: #222 }
#team .twitter {
  padding: 20px 0;
  margin-top: 60px;
  background-color: #f5f5f5;
  border-top: solid 1px #e7e7e7;
}
#team .twitter p { margin-bottom: 0 }
#team .twitter i {
  margin-bottom: 10px;
  color: #00aced;
}
#makeithappen {
  background-image: url(../img/cover/footer.png);
  background-repeat: repeat;
  background-position: center center;
}
#makeithappen,
#makeithappen a,
#makeithappen a:hover,
#makeithappen a:focus { color: #fff }
#makeithappen .heading .border { background-color: #fff }
#makeithappen a { display: block }
#makeithappen i { margin: 60px 0 15px }
#makeithappen .email:hover,
#makeithappen .email:focus { color: #D54937 }
#makeithappen .facebook:hover,
#makeithappen .facebook:focus { color: #44619D }
#makeithappen .github:hover,
#makeithappen .github:focus { color: #9CDAF1  }
#makeithappen .gittip:hover,
#makeithappen .gittip:focus { color: #339966 }
#makeithappen .twitter:hover,
#makeithappen .twitter:focus { color: #55ACEE }
#makeithappen .bitcoin:hover,
#makeithappen .bitcoin:focus { color: #F7931A }
#makeithappen .paypal:hover,
#makeithappen .paypal:focus { color: #0079C1 }
.paypal-icon {
  text-align: center;
  margin: 60px auto 0;
  width: 55px;
  height: 62px;
  display: block;
  background:transparent url('../img/paypal.png') center top no-repeat;
}
.paypal-icon:hover {
  background-image: url('../img/paypalhover.png');
}

#footer {
  padding: 20px 0;
  color: #ccc;
  text-align: center;
  background-color: #121212;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .copyright { 
  margin-bottom: 0;
  font-size: 0.7em;   color: gray;
}
#footer .copyright a,
#footer .copyright a:hover,
#footer .copyright a:focus {
  color: gray;
  text-decoration: underline;
}
#footer .copyright .self-ref,
#footer .copyright .self-ref a {
  color: #fff;
  font-size: 1.05em;
}
/* Responsive style */
@media screen and (max-width: 1024px) { 
  #faq .carousel-control { display: block }
}
@media screen and (max-width: 991px) { 
  #portfolio .items li { width: 50% }
  #faq .quote { padding: 0 70px }
}
@media (min-width: 768px) {
  .page .content.cover { padding: 120px 0 360px 0 }
}
@media (max-width: 767px) { 
  .page .content.cover { padding: 55px 0 160px 0 }
  #faq .quote { padding: 0 50px }
  #faq .carousel-control.right { right: 10px }
}
@media (max-width: 480px) { 
  .page .content.cover { padding: 30px 0 80px 0 }
  #portfolio .items li { width: 100% }
  #faq .quote { padding: 0 30px }
}
/* Overriding Bootstrap.min.css*/ 
.panel-heading,
.carousel-inner {
  text-align: left;
  width: 80%;
  margin: 1.5% 10%;
}
.panel-body {
  width: 72%;
  margin: 3% 14%;
}
/* Mail Chimp*/
#mc_embed_signup input.email,
#mc_embed_signup input.email:hover,
#mc_embed_signup input.email:focus {
  color: black;
  display:  inline-block;
  padding: 6px 0;
  margin: 0 3% 2% 0;
  text-indent: 5px;
  width: 40%;
  min-width: 268px;
  margin-left: 6px;
  line-height: 1em;
  border-radius: 5px;
}
#mc_embed_signup #mce-NAME {
  color: black;
  display:  inline-block;
  padding: 6px 0;
  margin: 0 3% 2% 0;
  text-indent: 5px;
  width: 40%;
  min-width: 268px;
  margin-left: 6px;
  line-height: 1em;
  border-radius: 5px;
}
#mc_embed_signup {
  text-align: center;
  margin: 10px auto 15px auto;
  background: transparent;
  clear: left;
  font: 1em;
  width: 99%;
}
#mc_embed_signup input.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  min-width: 200px;
}
#mc_embed_signup .button {
  clear: both;
  background-color: #A24EDE;
  opacity: 0.8;
  border: 0 none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  height: 34px;
  line-height: 31px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
#mc_embed_signup input {
  border: 1px solid grey;
  -webkit-appearance: none;
}
#mc_embed_signup form {
  margin: 0 auto;
  text-align: center;
  width: 95%;
  padding: 1% 0 8px 0;
}
#mc_embed_signup label {
  display: inline-block;
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}
.mc-field-group {
  margin: 1% auto;
  width: 50%;
  min-width: 300px;
  display: block;
}
#flattr_button { margin-bottom: 20px;}
