.reading_list h1 {
    font-size: 1.3em;
}
.reading_list .pageControl {
    display: none;
}
.reading_list > a {
    background-color: #557;
    color: white;
    padding: 4px;
    display: inline-block;
    margin-bottom: 24px;
}

.reading_list a h1 {
    color: #557;
}
.reading_list a:visited h1 {
    color: black;
}
.reading_list li .page {
    display: none;
}

.reading_list .description p {
    margin-bottom: .5em;
}

.reading_list .counts {
    margin-bottom: 1.5em;
}

pre {
    display: block;
    padding: 8px;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #DDD;
}
